html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}



.user_table {
  padding: 20px 16px 0px 16px;
}

.user_table .rounded-0 {
  border-radius: 0px !important;
}

.edit_dlt_icon {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
  display: block;
  cursor: pointer;
}

.edit_dlt_icon svg {
  width: 20px;
  max-width: 20px;
  height: 20px;
  max-height: 20px;
  display: block;
}

.edit_dlt_icon:hover {
  transform: scale(1.2);
}

.search_main {
  margin-right: 10px;
  max-width: 120px;
}

.search_main .search_input {
  color: rgb(38 50 56);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  max-width: 120px;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: 2px solid #fff;
}

.search_main .search_input:focus {
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-color: #000;
}

.side_navbar {
  width: 260px !important;
  background-color: #263544 !important;
  margin-top: 74px !important;
  position: fixed !important;
  left: 0px;
  top: 74px !important;
  block-size: 100% !important;
  inset-block-start: 0 !important;
  inset-inline-start: 0 !important;
  margin-inline: 0 !important;
  will-change: transform, -webkit-transform;
}

.dashboard_content {
  margin-left: 260px;
  padding-top: 74px;
}


.brand_name_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 244px;
  padding: 16px 0px;
}

.brand_name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.brand_name h4 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}


.side_nav_link.active .side_nav_btn {
  background-color: #1d2531 !important;
  color: #b7c0cd !important;
}

.side_nav_btn {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.side_nav_btn:hover {
  background-color: #1d2531 !important;
  color: #b7c0cd !important;
}


.sign_in_up_main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px !important;
  margin: auto !important;
  min-height: 100vh;
  padding: 40px 0px;
}

.popup_main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}

.popup_main_inner {
  position: relative;
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  overflow: visible;
  animation: fadeInUp 0.4s ease forwards;
}

.popup_body {
  border-radius: 0px !important;
}

.popup_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 14px;
}

.popup_header h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  line-height: 18px;
}


.popup_icon button {
  color: #000;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #fff;
  border-radius: 6px;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  margin-top: 0px !important;
  padding-bottom: 6px;
}

.form_row_li {
  width: 50%;
  padding: 8px;
}

.form-label {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 4px;
  display: block;
}



.form-control {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  color: #111827;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 8px;
  transition: all 0.1s ease-in;
}



.form-control:focus {
  color: #384551;
  background-color: transparent;
  border-color: #000;
  outline: 0;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(37, 37, 37, 0.4);
  border-width: 1px;
  padding-block: calc(0.543rem - 2px);
  padding-inline: calc(0.9375rem - 2px);
}

.popup_btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}


.all_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #000 !important;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(17, 24, 39, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.all_btn:hover {
  transform: translateY(-2px);
}


.gray_color {
  background-color: #8592a3 !important;
}

.pt_12 {
  padding-top: 12px;
}

.pb_12 {
  padding-bottom: 12px;
}

.navbar_main {
  padding: 0px 16px !important;
  background-color: #fff !important;
  box-shadow: 0 2px 4px 0 rgba(43, 43, 43, 0.1) !important;
  border-radius: 0px !important;
  height: 74px;
  position: fixed;
  top: 0px !important;
  z-index: 999;
  width: 100% !important;
  max-width: 100% !important;
}

.navbar_main_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashbord_content {
  padding: 30px 16px;
}

.breadcrumbs_sec {
  display: none !important;
}

.page_title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 10px;
}







.table_wrapper {
  width: 100%;
  overflow-x: auto;
}


.table_wrapper::-webkit-scrollbar {
  height: 4px;
}

.table_wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}


.table_main {
  width: 100%;
  border-collapse: collapse;
}

.table_main th,
.table_main td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  background-color: #fff;
}




.toggle_navbar .side_navbar {
  width: 50px !important;
  overflow: hidden;
  max-width: 50px !important;
}

.toggle_navbar .dashboard_content {
  margin-left: 50px !important;
}

.toggle_navbar .side_nav_link .w-full {
  width: auto !important;
}


.user_icon_main {
  position: relative;
}

.user_dropdown_menu {
  position: absolute;
  top: 76px;
  left: -184px;
  background-color: #fff;
  width: 224px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.user_dropdown_menu li {
  border-bottom: 1px solid #e4e6e8 !important;
}

.user_dropdown_menu li:last-child {
  border-bottom: none !important;
}

.dropdown-item {
  padding: 9px 20px;
  display: block;
  margin: 4px 0px;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: rgba(34, 48, 62, 0.06);
}

.dropdown_item_inner {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dropdown_item_inner .avatar {
  width: 40px;
  height: 40px;
}

.dropdown_item_inner .avatar img {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.dropdown_item_inner .avatar-online {
  position: relative;
}

.dropdown_item_inner .avatar-online::after {
  content: "";
  position: absolute;
  right: 4px;
  bottom: 0px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid #fff;
}

.dropdown_item_inner h6 {
  color: #384551;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.dropdown-item small {
  color: #a7acb2;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}


.profile_page .card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 24px;
  border-radius: 10px;
}

.profile_page .card-header h4 {
  color: #384551;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 20px;
}


.user_profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.user_profile_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}


.p-confirm-dialog-reject {
  color: rgb(6, 182, 212) !important;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 10px;
}

.p-confirm-dialog-accept {
  background-color: rgb(239, 68, 68) !important;
  color: #fff !important;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;

  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(17, 24, 39, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}







.side_nav_link.active .side_nav_btn {
  background-color: #1d2531 !important;
  color: #b7c0cd !important;
}

.side_nav_btn {
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.side_nav_btn:hover {
  background-color: #1d2531 !important;
  color: #b7c0cd !important;
}

.side_nav_links_main {
  height: calc(100vh - 75px);
  overflow-y: auto;
}

.profile_page {
  padding: 72px 0px 0px 260px;
}

.profile_page_inner {
  padding: 36px;
}